<html> 
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="public/Stylesheets/req1style.css">
</head>
<body bgcolor = #DEE9F9>
	{{ template "Back" }}
	<table width=80% id="table1">
	<tbody>
		<tr>
			<td align="center">Номер зачётной книжки</td>
			<td align="center">Дата рождения</td>
			<td align="center">Номер группы</td>
			<td align="center">Фамилия</td>
			<td align="center">Предмет</td>
			<td align="center">Тема</td>
			<td align="center">Оценка</td>
		</tr>
		<tr>
			{{ range $index, $elem := . }}
			<td align="center">{{$elem.RecordBookNum}}</td>
			<td align="center">{{$elem.Birthday}}</td>
			<td align="center">{{$elem.GroupName}}</td>
			<td align="center">{{$elem.LastName}}</td>
			<td align="center">{{$elem.Subject}}</td>
			<td align="center">{{$elem.Thema}}</td>
			<td align="center" id="inp">
				<input class="texti" name="theme" required type="text" pattern="[1-5]" placeholder="5" id="in3">
			</td>
			<td align="center" class="td2" id="input"><input class="but" id="el" type="submit" value="Добавить"></td>
			</tr></p>
			{{ end }}
	</tbody>
	</table>
	<input class="but" id="send" type="submit" value="Выполнить" onclick="sendm()">
{{ template "Exit" }}
</body>

<script>
( function() {
	rows = document.getElementById("table1").getElementsByTagName("tr");
	for (var i=1; i<rows.length; i++) {
		var tr = rows[i];
		td_but = tr.cells[7];
		but = td_but.firstElementChild;
		rows[i].cells[7].firstElementChild.onclick = function() {
			if (this.value === 'Добавить') {
				tr = this.parentElement.parentElement;
				var mark_td = tr.cells[6];
				mark_value = mark_td.getElementsByTagName('input')[0].value;
				mark_td.innerHTML = mark_value;
				mark_td.id = 'done';
				this.value = 'Очистить';
			} else {
				tr = this.parentElement.parentElement;
				var mark_td = tr.cells[6];
				mark_td.innerHTML = '<input class="texti" name="theme" required type="text" pattern="[1-5]" placeholder="5" id="in3">';
				mark_td.id = 'inp';
				this.value = 'Добавить'
			}
		}
	}

 })();
function sendm() {
	var xhttp = new XMLHttpRequest();
	var table = document.getElementById("table1");
	var out = [];
	for (var r=1; r<table.rows.length; r++) {
		td1 = table.rows[r].cells[6]
		if (td1.id === 'done') {
			var person = {}
			person.record_book_num = table.rows[r].cells[0].innerHTML;
			person.birthdate = table.rows[r].cells[1].innerHTML;
			person.group_name = table.rows[r].cells[2].innerHTML
			person.last_name = table.rows[r].cells[3].innerHTML
			person.subject = table.rows[r].cells[4].innerHTML;
			person.theme = table.rows[r].cells[5].innerHTML;
			person.mark = table.rows[r].cells[6].innerHTML;
			out.push(person)
		}
	}
	xhttp.open("POST", "marks", false);
	xhttp.setRequestHeader("Content-type", "application/json");
	xhttp.send(JSON.stringify(out));
	if(xhttp.readyState==4){
		location.reload();
	}
}
</script>